extends ../layout.jade
block contenido
	div(class="col-md-5 center-block no-float top-space text-left")
		h1 Agregar Producto
		form(method="post" action="/menu" style="margin-top:1.5em;" enctype="multipart/form-data")
			div(class="form-group")
				label id
				input(type="number" name="id" placeholder="id" class="form-control")
			div(class="form-group")
				label name
				input(type="text" name="name" placeholder="Nombre del docente" class="form-control")
			div(class="form-group")
				label ingenieria
				input(type="text" name="ingenieria" placeholder="Nombre del docente" class="form-control")
			div(class="form-group")
				label type
				input(type="text" name="type" placeholder="Nombre del docente" class="form-control")
			div(class="form-group")
				label edad
				input(type="number" name="edad" placeholder="id" class="form-control")
			div(class="form-group")
				label facultad
				input(type="text" name="facultad" placeholder="Nombre del docente" class="form-control")
			div(class="form-group")
				label abilities
				input(type="text" name="abilities" placeholder="Nombre del docente" class="form-control")
			div(class="form-group")
				label st1
				input(type="number" name="st1" placeholder="id" class="form-control")
			div(class="form-group")
				label st2
				input(type="number" name="st2" placeholder="id" class="form-control")
			div(class="form-group")
				label st3
				input(type="number" name="st3" placeholder="id" class="form-control")
			div(class="form-group")
				label st4
				input(type="number" name="st4" placeholder="id" class="form-control")
			div(class="form-group")
				label st5
				input(type="number" name="st5" placeholder="id" class="form-control")
			div(class="form-group")
				label st6
				input(type="number" name="st6" placeholder="id" class="form-control")
			div(class="form-group")
				label total
				input(type="number" name="total" placeholder="id" class="form-control")
			div(class="form-group")
				label evolution
				input(type="text" name="evolution" placeholder="Nombre del docente" class="form-control")
			div(class="form-group")
				label Nombre
				input(type="text" name="title" placeholder="Nombre del producto" class="form-control")
			div(class="form-group")
				label Descripci칩n
				textarea(name="description" placeholder="Descripci칩n del producto" class="form-control")
			div(class="form-group")
				label Costo
				input(type="number" name="pricing" placeholder="Costo" class="form-control")
			div(class="form-group")
				label Imagen del producto
				input(type="file" name="image_avatar")
			div(class="form-group")
				label Contrase침a
				input(type="password" name="password" placeholder="Contrase침a" class="form-control")
			div(class="form-group text-right")
				input(type="submit" class="btn btn-info" value="Guardar")